<app-menu></app-menu>
<section class="heading">
    <span class="page-title font-weight-bold font-italic">[{{title}}]</span>
    <a routerLink='/user-create'>
      <img width='20' height='20' src='assets/add-icon.png' title='Add New'>
    </a>
  </section>
  <table class="table table-sm table-striped">
  <thead>
      <tr>
        <th>Id</th><th>name</th><th>passWord</th><th>firstName</th><th>lastName</th><th>phoneNumber</th><th>email</th><th>isReviewer</th><th>isAmin</th><th>Action</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor= 'let user of users'>
      <td>{{user.id}}</td>
      <td>{{user.userName}}</td>
      <td>{{user.passWord}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.phonenumber}}</td>
      <td>{{user.email}}</td>
      <td>{{user.reviewer ? "true" : "false" }}</td>
      <td>{{user.admin ? "true" : "false" }}</td>
      <td><a routerLink='/user-detail/{{user.id}}'>
        <img width='20' height='20' src='assets/details.png' title='user Details'></a> | 
        <a routerLink='/user-edit/{{user.id}}'>
        <img width='20' height='20' src='assets/pencil-icon.png' title='user Edit'></a>
     </td>
    </tr>
  </tbody>
</table>
