<app-menu></app-menu>
<section class="heading">
    <span class="page-title font-weight-bold font-italic">[{{title}}]</span>
    <span>&nbsp;<a routerLink="/request-list">Return to List</a></span>
</section>
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>UserName</th>
            <th>Description</th>
            <th>Status</th>
            <th>Total</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let request of requests'>
            <td>{{request.id}}</td>
            <td>{{request.user.userName}}</td>
            <td>{{request.description}}</td>
            <td>{{request.status}}</td>
            <td>{{request.total}}</td>


        

            <td  *ngIf="!requests?.length == true" colspan="6"> no request's avalilable</td>


            <td><a routerLink='/request-approve/{{request.id}}'>
                    <img width='20' height='20' src='assets/review.png' title='request-approve'></a>
            </td>
        </tr>
    </tbody>
</table>