<app-menu></app-menu>
<section class="heading">
    <span class="page-title font-weight-bold font-italic">[{{title}}]</span>
    <span>&nbsp;<a routerLink="/product-list">Return to List</a></span>
    <a routerLink='/product-create'>
      <img width='20' height='20' src='assets/add-icon.png' title='Add New'>
    </a>
  </section>
  <table class="table table-sm table-striped">
  <thead>
      <tr>
        <th>Id</th><th>Vendor</th><th>partNumber</th><th>Name</th><th>Price</th><th>Unit</th><th>PhotoPath</th><th>Action</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor= 'let product of products'>
      <td>{{product.id}}</td>
      <td>{{product.vendor.id}}</td>
      <td>{{product.partNumber}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.unit}}</td>
      <td>{{product.photoPath}}</td>
      <td><a routerLink='/product-detail/{{product.id}}'>
        <img width='20' height='20' src='assets/details.png' title='product Details'></a> | 
        <a routerLink='/product-edit/{{product.id}}'>
        <img width='20' height='20' src='assets/pencil-icon.png' title='product Edit'></a>
     </td>
    </tr>
  </tbody>
</table>


