<div class="component">
    <section class="heading">
        <span class="page-title font-weight-bold font-italic">{{title}}</span>
        <span>&nbsp;<a routerLink="/user-list">Return to List</a></span>
    </section>
    <main *ngIf='user' class="single">
        <table class="table table-sm">
            <tr>
                <td>ID</td>
                <td>{{user.id}}</td>
            </tr>
            <tr> 
                <td>name:</td>
                <td><input [(ngModel)]="user.userName" class="rounded" type="text" disabled></td>
            </tr>
            <tr>
                <td>passWord:</td>
                <td><input [(ngModel)]="user.passWord" class="rounded" type="text" disabled></td>
            </tr>
            <tr>
                <td>firstName:</td>
                <td><input [(ngModel)]="user.firstName" class="rounded" type="text" disabled></td>
            </tr>
            <tr>
                <td>lastName:</td>
                <td><input [(ngModel)]="user.lastName" class="rounded" type="text" disabled></td>
            </tr>
            <tr>
                <td>phonenumber:</td>
                <td><input [(ngModel)]="user.phonenumber" class="rounded" type="text" disabled></td>
            </tr>
            <tr>
                <td>email:</td>
                <td><input [(ngModel)]="user.email" class="rounded" type="text" disabled></td>
            </tr>
            <tr>
                <td>lastName:</td>
                <td><input [(ngModel)]="user.isReviewer" class="rounded" type="text" disabled></td>
            </tr>
            <tr>
                <td>lastName:</td>
                <td><input [(ngModel)]="user.isAmin" class="rounded" type="text" disabled></td>
            </tr>
        </table>
    </main>
    <span>

        <span>&nbsp;<button (click)="delete()" class="btn btn-sm btn-danger">Delete</button></span>

    </span>
</div>

