<section class="heading">
    <span class="component-title">[{{title}}]</span>
    <span>&nbsp;<a routerLink="/request-list">Return to List</a></span>
  </section>
 
  <main class="single">
    <table class="table table-sm">
      <tr>
        <td>ID</td>
                <td>{{request.user.id}}</td>
      </tr>
      <tr>
        <td>
            description:
        </td>
        <td>
            <input [(ngModel)]="request.description" class="rounded" type="text">
        </td>
      </tr>
      <tr>
        <td>
            justification:
        </td>
        <td>
            <input [(ngModel)]="request.justification" class="rounded" type="text">
        </td>
      </tr>
      <tr>
        <td>
            dateNeeded:
        </td>
        <td>
            <input [(ngModel)]="request.dateNeeded" class="rounded" type="text">
        </td>
      </tr>
      <tr>
        <td>
            deliveryMode:
        </td>
        <td>
            <input [(ngModel)]="request.deliveryMode" class="rounded" type="text">
        </td>
      </tr>
      <tr>
        <td>
            status:
        </td>
        <td>
            <input [(ngModel)]="request.status" class="rounded" type="text">
        </td>
      </tr>
      <tr>
        <td>
            total:
        </td>
        <td>
            <input [(ngModel)]="request.total" class="rounded" type="text">
        </td>
      </tr>
      <tr>
        <td>
            submittedDate:
        </td>
        <td>
            <input [(ngModel)]="request.submittedDate" class="rounded" type="text">
        </td>
      </tr>
      <tr>
        <td>
            reasonForRejection:
        </td>
        <td>
            <input [(ngModel)]="request.reasonForRejection" class="rounded" type="text">
        </td>
      </tr>
    </table>
  </main>
  <span><button (click)="save()" class="btn btn-sm btn-primary">{{submitBtnTitle}}</button></span> |
 <!--
  <span><button (click)="backClicked()" class="btn btn-sm btn-primary">Back</button></span>
-->



