<app-menu></app-menu>
<section class="heading">
    <span class="component-title">[{{title}}]</span>
    <span>&nbsp;<a routerLink="/request-list">Return to List</a></span>
  </section>
 
  <main class="single">
    <table class="table table-sm">
      <tr>
        <td>
            UserName:
        </td>
        <td>
            <input [(ngModel)]="request.user.userName" class="rounded" type="text" disabled>
        </td>
      </tr>
      <tr>
        <td>
            Description:
        </td>
        <td>
            <input [(ngModel)]="request.description" class="rounded" type="text">
        </td>
      </tr>
      <tr>
        <td>
            Justification:
        </td>
        <td>
            <input [(ngModel)]="request.justification" class="rounded" type="text">
        </td>
      </tr>
      <tr>
        <td>
            DateNeeded:
        </td>
        <td>
            <input [(ngModel)]="request.dateNeeded" class="rounded" type="date">
        </td>
      </tr>
      <tr>
        <td>
            DeliveryMode:
        </td>
        <td>
          <select [(ngModel)]="request.deliveryMode" class="rounded"  >
            <option value="" disabled selected hidden>Choose a method</option>
            <option *ngFor='let delMode of delModes' [ngValue]='delMode'>{{delMode}}</option>
          </select>
        </td>
      </tr>
    </table>
  </main>
  <span><button (click)="save()" class="btn btn-sm btn-primary">{{submitBtnTitle}}</button></span> |
 <!--
  <span><button (click)="backClicked()" class="btn btn-sm btn-primary">Back</button></span>
-->



