<app-menu></app-menu>
<section class="heading">
    <span class="component-title">[{{title}}]</span>
    <span>&nbsp;<a routerLink="/request-list">Return to List</a></span>
  </section>
 
  <main class="single">
    <table class="table table-sm">
      <tr>
        <td>
            UserId:
        </td>
        <td>
          <select [(ngModel)]="request.user" class="rounded" [compareWith]="compRequest">
            <option *ngFor='let user of users' [ngValue]='user'>{{user.id+ ", "+ user.userName}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
            Description:
        </td>
        <td>
            <input [(ngModel)]="request.description" class="rounded" type="text">
        </td>
      </tr>
      <tr>
        <td>
            Justification:
        </td>
        <td>
            <input [(ngModel)]="request.justification" class="rounded" type="text">
        </td>
      </tr>
      <tr>
        <td>
            DateNeeded:
        </td>
        <td>
            <input [(ngModel)]="request.dateNeeded" class="rounded" type="text">
        </td>
      </tr>
      <tr>
        <td>
            DeliveryMode:
        </td>
        <td>
            <input [(ngModel)]="request.deliveryMode" class="rounded" type="text">
        </td>
      </tr>
      <tr>
        <td>
            Status:
        </td>
        <td>
            <input [(ngModel)]="request.status" class="rounded" type="text">
        </td>
      </tr>
      <tr>
        <td>
            Total:
        </td>
        <td>
            <input [(ngModel)]="request.total" class="rounded" type="text">
        </td>
      </tr>
      <tr>
        <td>
            SubmittedDate:
        </td>
        <td>
            <input [(ngModel)]="request.submittedDate" class="rounded" type="text">
        </td>
      </tr>
      <tr>
        <td>
            ReasonForRejection:
        </td>
        <td>
            <input [(ngModel)]="request.reasonForRejection" class="rounded" type="text">
        </td>
      </tr>
    </table>
  </main>
  <span><button (click)="save()" class="btn btn-sm btn-primary">{{submitBtnTitle}}</button></span> |
 <!--
  <span><button (click)="backClicked()" class="btn btn-sm btn-primary">Back</button></span>
-->




